<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ProjectManagerString" connectionString="Server=tcp:hubbec-dev.database.windows.net,1433;Initial Catalog=Hubbec.KPIReports;Persist Security Info=False;User ID=hubbecAdmin;Password=#ec$%823Ftg!a;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBCrawler" connectionString="mongodb+srv://developer:7SNb6oPVO9Bemy4e@smarhub-tjwgi.azure.mongodb.net/admin?replicaSet=smarhub-shard-0&amp;connectTimeoutMS=10000&amp;authSource=admin&amp;authMechanism=SCRAM-SHA-1&amp;3t.uriVersion=3&amp;3t.connection.name=smarhub-shard-0&amp;3t.databases=admin,test"  />-->

    <!--<add name="DBCrawler" 
         connectionString="mongodb://riskdectect-user-dev:J#[j#'9N@hubbec-dev-shard-00-00-j4uof.azure.mongodb.net:27017,hubbec-dev-shard-00-01-j4uof.azure.mongodb.net:27017,hubbec-dev-shard-00-02-j4uof.azure.mongodb.net:27017/test?ssl=true&amp;replicaSet=hubbec-dev-shard-0&amp;authSource=admin&amp;retryWrites=true&amp;w=majority"  />-->
  </connectionStrings>
  <appSettings>
    <add key="UriHerokuAppService" value="http://quiet-stone-2094.herokuapp.com"/>
    <add key="UriHerokuAppService-Rates" value="rates.json"/>
    <add key="UriHerokuAppService-Transaction" value="transactions.json"/>    
  </appSettings>
</configuration>